/* CONTENDOR PRINCIPAL */
.head_contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 3px solid black; /* Color y grosor del borde inferior */
    box-shadow: 0px 10px 5px -5px #a2ffdb;
    /* border: 1px solid red; */
}

/* IMAGEN */
.head_contenedor img {
    width: 100px;
}

.head_title {
    font-size: 25px;
}
.head_link a{
    text-decoration: none;
    font-size: 25px;

    color: black;
}